<header>
  <mat-toolbar color="primary">
    <a class="logo" routerLink="/">
      <span>S</span>
      <span>U</span>
      <span>B</span>
      <span>U</span>
      <span>R</span>
      <span>B</span>
      <span>A</span>
      <span>N</span>
    </a>

    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>

    <span class="spacer"></span>

    <a class="login-button" mat-icon-button routerLink="/auth/login">
      <mat-icon>login</mat-icon>
    </a>

    <a class="profile-button" mat-icon-button routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar>
</header>
