.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
}

mat-form-field {
  width: 100%;
}

.login-text {
  text-align: center;
}